<%- include("includes/nav.ejs") %>
<body class="d-flex flex-column min-vh-100">
  <div class="container flex-grow-1">
    <% for(let blog of blogs){ %>
    <div class="card my-3">
      <div class="card-header" style="border-radius: 2rem;">
        <b><%= blog.title %></b> 
      </div>
      <div class="card-body">
        <h5 class="card-title">@<%= blog.username %></h5>
        <p class="card-text"><%= blog.content %></p>
        <div class="d-flex gap-2">
          <a href="/blog/<%= blog.id %>/edit" class="btn btn-primary">Edit</a>
          <form method="post" action="/blog/<%= blog.id %>?_method=DELETE">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          <a href="/blog/<%= blog.id %>" class="btn btn-success">Open</a>
        </div>
      </div>
    </div>
  <% } %>
  <% if (blogs.length === 0) { %>
  <div class="text-center my-5 p-4 border border-danger rounded bg-tertiary">
    <h2 class="text-danger mb-3">No Match Found 😕</h2>
    <p class="lead text-secondary">Try different keywords or check your spelling.</p>
    <a href="/blog" class="btn btn-primary mt-3">View All Blogs</a>
  </div>
<% } %>


  </div>
  
</body>
<%- include("includes/footer.ejs") %>
